<head>
    <title>DSV</title>

    <!-- <link rel="stylesheet" href="/css/style.css"> -->
</head>
<body>
    
    <div class="interface">
    
        <%- include('../../components/pedido/planejar') %>
    </div>

</body>