<head>
    <title>Formulário de Pedido de Consultória</title>
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
</head>
<body>
    
    <div class="interface">
    
        <%- include('../../components/pedido/pedido') %>
    </div>

</body>