<!DOCTYPE html>
<html >
<head>
    <link rel="stylesheet" href="./css/home/benvindo.css">
</head>
<body>
    <div class="benvindo" id="benvindo">
        <div id="imgDiv">
            <!-- <img class="d-block" id="logoGotadesol" src="./img/icones/logoGotaDeSol.png" alt="Second slide"> -->
            
            <div id="titulo">
                <h1>Gota D' Sol</h1>
                <p><strong id="sigla">Agência que Cabe na tua mão</strong></p>
            </div>
        </div>
        
        <div id="lengenda_principal">
            <div class="legenda2">
                <p id="sobre_benvindo">
                    A Gota de Sol é uma agência de viagem que oferece aos seus clientes
                    experiências únicas e inesquecíveis. Com uma equipe de profissionais
                    altamente capacitados e dedicados, Temos como objetivo
                    tornar cada viagem de seus clientes em uma aventura inesquecível,
                    proporcionando momentos de diversão, descanso e descoberta.
                </p>
            </div>
            
            <div class="legenda1">
                <p>
                    Oferecemos uma ampla gama de opções de viagem, desde viagens
                    rápidas e descontraídas a viagens mais elaboradas e sofisticadas.
                    Independentemente do destino escolhido, Garantimos aos nossos
                    clientes atenção e suporte durante toda a viagem, assegurando que todos
                    os seus desejos sejam atendidos. <br>

                    Click embaixo para expor os teus desejos
                </p>               
                
                <div id="botao">
                    <a href="/pedido/agentes" class="btn btn-primary" id="btn_agendar">Contactar Agente</a>
                </div>

            </div>
            
            <div class="legenda2">
                <p>
                    Valorizamos a satisfação de nossos clientes acima de tudo, e
                    por isso trabalha arduamente para oferecer os melhores serviços e os
                    melhores preços. Além disso, Trabalhamos com as melhores
                    parceiras de viagem do mercado, garantindo a seus clientes a melhor
                    qualidade e os melhores valores.
                </p>
                
            </div>
            
            <div class="legenda1">
                
                <p>
                    Em resumo, Somos a escolha ideal para quem procura uma
                    agência de viagem confiável, dedicada e inovadora. Planeje já sua
                    próxima viagem com a Gota de Sol e experimente a diferença de viajar
                    com uma empresa que valoriza sua satisfação.
                </p>

                <div id="botao">
                    <a href="/pedido/planejar" class="btn btn-primary" id="btn_agendar">Planejar viagem</a>
                </div>
                
            </div>
    </div>
</body>
</html>