<!DOCTYPE html>
<html >
<head>
    <link rel="stylesheet" href="./css/home/benvindo.css">
</head>
<body>
    <div class="benvindo" id="benvindo">
        <h1 id="titulo">GOTA D' SOL</h1>
        <h2 id="subtitulo">Agência que Cabe na tua mão</h2>
        <a href="/pedido/planejar" id="cta" class="btn btn-primary">Peça o teu visto conosco</a>
    </div>
        
</body>
</html>