<!DOCTYPE html>
<html >
<head>
    <link rel="stylesheet" href="./css/home/benvindo.css">
</head>
<body>
    <div class="benvindo" id="benvindo">
        <div id="imgDiv">
            <!-- <img class="d-block" id="logoGotadesol" src="./img/icones/logoGotaDeSol.png" alt="Second slide"> -->
            
            <div id="titulo2">
                <h1>Agência que Cabe na tua mão</h1>
            </div>
        </div>
    </div>
        
</body>
</html>