<!DOCTYPE html>
<html >
<head>
    <link rel="stylesheet" href="/css/home/footer.css">
</head>
<body>

    <footer class="rodape">
        <img class="" id="logofooter" src="/favicon.png" alt="Second slide">
        <p class="rodape1">&copy; 2023 Dev-Cute</p>
    </footer>
    

</body>
</html>