<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/slid3.css">
    <title>slid3</title>
</head>
<body>
    <div class="img-fundo">
        <!--     <p class="dizeres">
            Perguntou Por Viagens De Sonhos<br>
            Perguntou Pela Gota D´ Sol <br>
            Adira Já E Deixe-nos Fazer O Resto! 
        </p> 
        <img src="img/pngs/1.jpg" alt="img-fundo"> -->
    </div>
    <div class="services">
        
        <div class="menu">

            <div class="sub-menu">
                <ul>
                    <p>Consultória De Aquisição De Vistos Para</p>
                    <li>Portugal</li>
                    <li>Brasil</li>
                    <li>Espanha</li>
                    <li>Estados Unidos</li>
                </ul>
            </div>
            <div>
                <ul class="sub-menu">
                    <p>Reservas De</p>
                    <li>Hotel</li>
                    <li>Voo</li>
                </ul>
            </div>
        </div>
        <p class="ultimaDica">Gota D´ Sol, Fazemos Sonhos Virarem Realidade!</p>
    </div>
</body>
</html>