<!DOCTYPE html>
<html >
<head>
    <link rel="stylesheet" href="./css/home/poupe.css">
</head>
<body>
    <div class="poupe" id="poupe">
        <div class=" legenda">
            <p>Aproveite nossa oferta limitada de 10% de desconto em todas as viagens.</p>
            <p> Não perca esta oportunidade única de fazer uma viagem inesquecível a um preço incrível. <br> Agende agora antes que as vagas acabem!</p>

            <a href="/services" class="btn btn-primary">Ver Ofertas</a>
        </div>
    </div>
</body>
</html>