
<head>
    <link rel="stylesheet" href="./css/home/slid2.css">
</head>

<body>
    <div id="servicos_principal">
        <h2 id="oferecemos">Adira Aos Nossos Serviços</h2>
        <div class="servicos" id="servicos">

            <ul>
                <li>
                    <ul>
                        <h3>Consultória Para pedido de visto</h3>
                        <li>Portugal</li>
                        <li>Espanha</li>
                        <li>França</li>
                        <li>Brasil</li>
                        <li>Estados Unidos</li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <h3>Voo</h3>
                        <li>REserva De Voo</li>
                        <li>Compra de bilhete de passagem</li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <h3>Alojamento</h3>
                        <li>Reserva de Hotel</li>
                    </ul>
                </li>

            </ul>
        </div>
        <p style="margin-top: 50px; text-align: justify; text-indent: 25px;">
            A Gota De Sol É Uma Agência De Viagem Que Oferece Aos Seus Clientes Experiências Únicas E Inesquecíveis. Com Uma Equipe De Profissionais Altamente Capacitados E Dedicados. Click em Solicitar e selecionaremos o Agente que melhor atenderá o teu caso. <br>
        </p>
        <a href="#" id="btna" class="btn btn-primary">Solicitar</a>
    </div>

</body>