<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="./css/home/slid4.css">
</head>
<body>
    <div class="motivacional3">
        <%- include('../../components/home/benvindo') %>
    </div>
    
    <div class="img-fundo">
        <h3 id="vaAgencia">Vá a Agência sem sair de casa</h3>
        <p id="p_fundo">Resolva tudo sem atrapalhar o teu dia.</p>
        <p id="p_cta">
            Não perca esta oportunidade, aproveita a chanse de contar com os melhores Consultores de Luanda. Envia o teu pedido e em menos de 24 horas começa a cuidar de você.
        </p>

        <p id="p_botao">
            <a href="/pedido/planejar" id="btn_enviar" class="btn btn-primary">Enviar Pedido</a>
        </p>
    </div>  
</body>
</html>