<!DOCTYPE html>
<html >
<head>
    <link rel="stylesheet" href="./css/home/slid1.css">
</head>
<body>
    <div class="slid" id="slid1">
        <div class=" legenda1">
            <h2> Evite estresse! </h2>
            <p id="FP">Deixa-nos preparar de tudo <br> por você.</p>
        </div>
        <a href="#" class="btn btn-primary">Agendar Agora</a>
    </div>

    <!-- <img class="d-block img" src="./img/pngs/chatbot.png" alt="Second slide"> -->
    <!-- <p>
        Com uma equipa de profissionais treinados
    </p> -->
</body>
</html>