<!DOCTYPE html> 
<html >
<head>
    <link rel="stylesheet" href="./css/home/sobre.css">
</head>
<body>
    <div class="benvindo" id="benvindo">
        <div id="imgDiv">
    
            <img class="d-block" id="logoGotadesol" src="/favicon.png" alt="Second slide">
            <p class="Ip">
               <small>
                Agência Que Cabe Na Tua Mão
               </small> 
            </p>
    </div>
         
        
        <div id="legenda_principal">
            <div class="legenda">
                <p id="sobre_benvindo">
                    Aberta desde 2018. Quando Mateus Cassuque, O fundador entrou
                    para o mercado de hotelária e turismo, e percebeu que poderia juntar
                    a satisfação dos clientes e algum benéficio lucrativo
                    então Daí surgiu a <a href="#">Gota De Sol.</a> 
                </p>
                <div class="img">
                    <img class="img2" src="/img/fundos/parauso3.jpg" alt="">
               </div> <br>
                <p class="lg">
                    Uma agência de viagem que ofereçe aos seus clientes
                    experiências únicas e inesquecíveis. Com uma equipe de profissionais
                    altamente qualificada, capacitada e dedicada,  Que tem como objetivo
                    tornar cada viagem em uma aventura inesquecível,
                    proporcionando momentos de diversão, descanso e descoberta.
                    
                </p>
            </div>
            <br>
            <h4 class="services">
                Nossos Serviços:
            </h4>
            <figure class="fi">
            
                <img class="img5" src="/img/fundos/69.jpg" alt="">
                <figcaption class="FF">Curta sua vida connosco</figcaption>

           </figure>
          
        <div class="legenda1">
                
                <p>
                    Apesar De Nossa Existencia Ser ainda de tempo bem curto,
                    é de salientar que apresentamos  uma ampla gama de agentes que
                   trabalharam Nesse Ramo Mais do que Uma Vida, 
                   Então  é caso de se dizer que esperiência Não Nos
                    Falta. <br> Também Temos Muita fibra sendo que  mais de 
                   60% De nossa equipe é de Sangue Novo, forte,
                    bem adaptado as condições do País, E O Mais Importante,
                    A Gota D´Sol Trabalha Para Te Fazer Brilhar A Cada Viagem.

                </p>
               
                <p>
                    De Forma Especial aquilo que mais presamos é a satisfação de nossos clientes,
                    por esse motivo é que promovemos a confiança, o bem-estar e a tranquilidade,
                    por isso trabalhamos arduamente para oferecer as mais variadas viagens nos mais 
                    baixos preços do mercado, além disso estamos ligados aos melhores parceiros do
                    mercado, garantindo as melhores viagens e os custos reduzidos.

                </p>
                <p>
                    Dessa Feita não é de Admirar que tenhamos sido no que tange
                     a viagens a escolha número 1 de mais de 10 mil pessoas e 
                    de mais De 2 mil fámilias e empresas, pois podemos oferecer viagens
                    do tipo váriadas, desde as mais calmas até 
                    aquelas de momentos extravagantes, de viagens diplomáticas
                    até a mais desprovidas de trabalho.Então não Perca Mais Tempos 
                    Contacte a Gota D´Sol. 

                </p>              

            </div>
            <a class="btn btn-primary" href="/pedido">Agende Agora</a>
    </div>
</div>
</body>
</html>