<head>
    <title>Gota D' Sol - Home</title>
</head>
<body>
  <div class="interface">
  
    <%- include('../../components/home/slid4') %>
    
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7552816316876082"
     crossorigin="anonymous"></script>
    
    <%- include('../../components/home/servicos') %>
    
  </div>
</body>
