<head>
    <title>Formulário de Pedido de Consultória</title>
    <link rel="stylesheet" href="/css/pedido/planejar.css">
</head>
<body>
  
  <% if(novoPedido){ %>
    <p class="alert alert-success" role="alert" id="sucesso">
      Processo enviado com sucesso! <br class="d-md-none">
      <strong> <%=novoPedido.nome_completo%> </strong>
      entraremos em contacto dentro de 12 horas.
    </p>
  <% } %>

  <% if(message){ %>
    <p class="alert alert-danger" role="alert" id="sucesso"><%=message%></p>
  <% } %>

  <% if(tipo){ %>
    <input type="text" name="tipo" id="tipo" class="form-control d-none" value="<%=tipo%>">
  <% } %>

  <div id="conteudo_planejar">
    
    <div class="card col-md-5 m-2 mx-auto" id="card-form">

      <div class="card-header">
        <h5>Formulário de Pedido de Consultória</h5>
      </div>
      
      <span id="aviso"> * (Obrigatório) </span>
      
      <p class="alert alert-info" role="alert" id="v_aviso">Preencha o formulário para enviar Enviar Pedido de Consultória</p>
      
      <div class="card-body">
        <form action="/pedido" method="post">
          <div class="row">
            
              <div class="col-12 form-group mb-4">
                <label for="nome_completo">Nome Completo: <span class="obrigatorio">*</span></label>
                <input type="text" name="nome_completo" id="nome_completo" placeholder="Nome Completo" required class="form-control">
              </div>
              
              <div id="contato" class="mb-4 row">
                <label for="telefone">Contacto: <span class="obrigatorio">*</span></label>
                
                <div class="col-md-6 form-group">
                  <input type="tel" name="telefone" id="telefone" placeholder="telefone: +244 999 999 999" required class="form-control">
                </div>
                
                <div class="form-group mt-4 mt-md-0 col-md-6">
                  <input type="email" name="email" id="email" placeholder="Email: exemplo@gmail.com" class="form-control">
                </div>
              </div>


              <div class="mt-4 row" id="datas_viagem">
                <div class="col-12 form-group">
                  <label for="datalhes">Detalhes do Pedido:</label>
                  <textarea class="form-control" name="datalhes" id="datalhes" cols="30" rows="10" required></textarea>
                </div>
              </div>

              <div id="divMotivo" class="row mt-4">
                <div class="form-group opsao namePreco col-6">
                  <label for="motivo">Motivo:</label>
                  <select name="motivo" id="motivo" class="form-control">
                    <option value="Agendamento">Agendamento</option>
                    <option value="Bilhete de Passagem">Bilhete de Passagem</option>
                    <option value="Documentação">Documentação</option>
                   <option value="Reserva de Hotal">Reserva de Hotal</option>
                  </select>
                </div>
                <div class="form-group opsao namePreco col-6">
                  <label for="para">Para:</label>
                  <select name="para" id="para" class="form-control">
                    
                  </select>
                </div>

              </div>             
              
              <input type="submit" value="Enviar" class="my-4 btn btn-primary">
              
            </div>
          </form>
        </div>
        
        <div class="card-footer">
          <p class="text-muted">para mais informações contacte: +244 949 143 902 | <br class="d-md-none">
            <span class="text-success">Whatsapp: +244 952 494 542</span>
          </p>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      const tipo = $('#tipo').val()
      const motivo = document.querySelector('#motivo')

      const paises = '<option value="Angola">Angola</option><option value="Brazil">Brazil</option><option value="Dubai">Dubai</option><option value="Espanhã">Espanhã</option><option value="Estados Unidos de América">Estados Unidos de América</option><option value="França">França</option><option value="Holanda">Holanda</option><option value="Portugal" selected>Portugal</option><option value="Turquia">Turquia</option>'

      const reservas = '<option value="Bilhete de Passagem">Bilhete de Passagem</option><option value="Reserva de Hotal">Reserva de Hotal</option>'

      const documentos = '<option value="Segura de Viagem">Segura de Viagem</option><option value="Reconhecer Certificado">Reconhecer Certificado</option>'

      if(tipo){motivo.setAttribute('disabled', true)}else{
        para.innerHTML = paises
        selecao()
      }
        
      if(tipo == 'agendamento'){
        $('#datalhes').attr('placeholder','Insira o número do Passaport aqui.')
        
        motivo.selectedIndex = 0
        para.innerHTML = paises
      }else if(tipo == 'reservas'){
        $('#datalhes').attr('placeholder',        
        'Insira os dados da viagem aqui.\nNúmero do Passaport. \nData de Ida e Regresso.')
        
        motivo.innerHTML = reservas
        para.innerHTML = paises
        motivo.selectedIndex = 1
        motivo.removeAttribute('disabled')
      }else if(tipo == 'documentos'){
        $('#datalhes').attr('placeholder','Insira o tipo de documento.')
        
        para.innerHTML = documentos
        motivo.selectedIndex = 2
      }
      
      function selecao(){
        motivo.addEventListener('change', function(e){
          if(motivo.selectedIndex == 0){
            para.innerHTML = paises
          }else if(motivo.selectedIndex == 1){
            para.innerHTML = paises
          }else if(motivo.selectedIndex == 2){
            para.innerHTML = documentos
          }else if(motivo.selectedIndex == 3){
            para.innerHTML = paises
          }else{
            para.innerHTML = paises
          }
        })
      }
      
    </script>

</body>
  

