<head>
    <title>Gota D' Sol - Home</title>
</head>
<body>
  <div class="interface">
  
    <%- include('../../components/home/slid4') %>
    <%- include('../../components/home/servicos') %>
    
  </div>
</body>