<head>
    <title>DSV</title>

    <!-- <link rel="stylesheet" href="/css/style.css"> -->
</head>
<body>
  <div class="interface">
  
    <%- include('../../components/home/benvindo') %>
    <%- include('../../components/home/poupe') %>
    <%- include('../../components/home/slid1') %>
    
  </div>
</body>