<head>
    <title>Gota D' Sol - Home</title>
</head>
<body>
  <div class="interface">
  
    <%- include('../../components/home/slid4') %>
    <%- include('../../components/home/poupe') %>

    <%- include('../../components/home/slid2') %>
    
  </div>
</body>