<html>
<head>
    <title>GOTA D' SOL - ACOMPANHÃ</title>
    <link rel="stylesheet" href="/css/home/seguir.css">
</head>
<body>
    <div class="mt-4 container" id="container">
        <h1 class="h1 mt-4">Acompanhar Processo</h1>
        <form action="#" method="get" id="buscar" class=" mb-4">
            <div class="form-group row col-12">
                <label for="processoId" class="mt-4">Nº do Processo</label>
                <input type="search" required name="processoId" id="processoId" class=" form-control" placeholder="exe.: 6437eea2a6bb3d5c00735197">
                
                <!-- Button trigger modal -->
                <button type="submit" id="enviar" class="btn btn-primary mt-4">Buscar</button>
            </div>
        </form>

        <table class="table table-hover" id="tabela"></table>
        
    </div>
    
    <script type="text/javascript">
        async function busca_dados(id) {
            const processo = await $.get('/processo/' + id).then(res => {
                return res
            }).catch(err => {
                return ''
            })

            return processo
        }
        
        $('#buscar').submit(async function(event) {
            event.preventDefault()

            const container = document.querySelector('#container')
            const tabela = document.querySelector('#tabela')
            const id = $('#processoId').val()
            const processo = await busca_dados(id)

           tabela.remove()

            if(processo){
                let estado = ''

                if(processo.disponivel){estado = 'Activo'}else{estado = 'Terminado'}

                if(processo.name){
                    const tabela_data = `<table class="table table-hover" id="tabela"><thead><tr><th scope="col">Cod. Processo</th><th scope="col">Cliente</th><th scope="col">Processo</th><th scope="col">Estado</th></tr></thead><tbody id="tcorpo"><tr><th scope="row">${processo._id}</th><th scope="row">${processo.name} ${processo.apelido}</th><th scope="row">${processo.service.name}</th><th scope="row">${estado}</th></tr></tbody></table>`
                    
                    container.insertAdjacentHTML("beforeend", tabela_data)
                }else{
                    const tabela_data = `<table class="table table-hover" id="tabela"><thead><tr><th scope="col">Cod. Processo</th><th scope="col">Cliente</th><th scope="col">Motivo</th><th scope="col">Para</th><th scope="col">Estado</th></tr></thead><tbody id="tcorpo"><tr><th scope="row">${processo._id}</th><th scope="row">${processo.nome_completo}</th><th scope="row">${processo.motivo}</th><th scope="row">${processo.para}</th><th scope="row">${estado}</th></tr></tbody></table>`
                    
                    container.insertAdjacentHTML("beforeend", tabela_data)
                }
                
            }else{
                container.insertAdjacentHTML("beforeend", `<h6 id="tabela">Processo não encontrado</h6>`)
            }
        })
        
    </script>
</body>
</html>
