
<head>
    <title>GOTA D' SOL - ACOMPANHÃ</title>
    <link rel="stylesheet" href="/css/home/seguir.css">
</head>
<body>
    <div class="mt-4 container" id="container">
        <h1 class="h1 mt-4">Acompanhar Processo</h1>
        <form action="#" method="get" id="buscar" class=" mb-4">
            <div class="form-group row col-12">
                <label for="processoId" class="mt-4">Nº do Processo</label>
                <input type="search" name="processoId" id="processoId" class=" form-control" placeholder="exe.: 6437eea2a6bb3d5c00735197">
                
                <!-- Button trigger modal -->
                <button type="submit" id="enviar" class="btn btn-primary mt-4" data-bs-toggle="modal" data-bs-target="#confirmacao">Buscar</button>
            </div>
        </form>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="confirmacao" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmacaoLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmacaoLabel">ACOMPANHÃR PROCESSO</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row col-12">
                        <div class="card col-12 mx-auto my-4" id="card">
                            
                            <div class="card-header">
                                <h3 class="card-title" id="titulo"></h3>
                                <p class="card-subtitle text-muted campo" id="subtitulo"></p>
                            </div>
                            
                            <img class="card-img-top img-fluid" id="img-fluid" src="/favicon.png">
                            
                            <div class="card-body">                  
                                <br>
                                
                                <div class="card-header header-client">
                                    <h5><span id="nameVal"></span></h5>
                                    <p class="card-subtitle text-muted">
                                        Telefone: <span id="telefoneVal"></span>
                                    </p>
                                    
                                    <p class="card-subtitle text-muted">
                                        Email: <span id="emailVal"></span>
                                    </p>
                                </div>
                                
                                <br>
                                
                                <p class="campo">
                                    estado:
                                    <span class="valor" id="estadoVal"></span>
                                </p>
                                
                            </div>
                        
                            <div class="card-footer" id="footer-card">
                                <p class="text-muted">para mais informações conatcte: +244 949 143 902 | <br class="d-md-none">
                                    <span class="text-success">Whatsapp: +244 952 494 542</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">voltar</button>
                </div>
            </div>
        </div>
    </div>
    
    <script type="text/javascript">
        $('#buscar').submit(function(event) {
            event.preventDefault()
            
            const titulo = $('#titulo').val()
            const subtitulo = $('#subtitulo').val()
            const nameVal = $('#nameVal').val()
            const telefoneVal = $('#telefoneVal').val()
            const emailVal = $('#emailVal').val()
            const estadoVal = $('#estadoVal').val()

            const id = $('#processoId').val()
            // alert(id)

            console.log($('#titulo').val())

            const processo = $.post('/processo/' + id).then(res => { return res})

            if(processo){

                
            }

            // const pedido = $.post('/pedido/' + id).then(res => { return res})
            // const planejar = $.post('/planejar/' + id).then(res => { return res})
        })
        
    </script>
</body>
