<head>
    <title>Gota D' Sol - Sobre</title>
</head>
<body>
  <div class="interface">
  
    <%- include('../../components/home/sobre') %>
    <br> <br> <br>
    <%- include('../../components/home/slid1') %>
    
  </div>
</body>                        