
<head>
    <link rel="stylesheet" href="./css/home/ver.css">
</head>

<body>
   <div class="principal">
      <div class="df3" id="card3" >
         <div class="df2" id="card2">
            <div class="card" id="card1">
               <p>
                  Gota D´ Sol
               </p>
               <p>
                  Tudo Que Vocé Precisa Para voar Esta Aqui
               </p>
               
               <p id="P1">
                  Quer Vistos Para:
               </p>
               <ul class="list1">
                  <li>
                     <a id="a1" href="#">Portugal</a>
                  </li>
                  <li>
                     <a id="a2" href="#">Alemanha</a>
                  </li>
                  <li>
                     <a id="a3" href="#">Holanda</a>
                  </li>
                  <li><a id="a4" href="#">Belgica</a></li>
                  <li>
                     <a id="a5" href="#">França</a>
                  </li>
               </ul>
               
            </div>
         </div> 
      </div>
      <!--<p class="p3">
         Desfrute, Curta, Acerte Cnnosco!
      </p>
      <p class>
         Fale Connosco E Deixe-nos Cuidar Do Que Vocé Precisa!
      </p>
      <p class="Tp">
         Não Saia Dos Nossos Limites E Desfrute Doque Podems Oferecer!
      </p>-->
      
      <div class="c3" id="c3">
         <div class="c2">
            <div class="card" id="c1">
               <p class="Sh1">Gota D´Sol</p>
               <p class="Sp">
                  Tambem Oferecemos  Reservas E Pagamentos De:
               </p>
               <ul class="list2">
                  <li><a id="1" href="#">Agendamentos</a></li>
                  <li><a id="2" href="#">Reserva de Hotel</a></li>
                  <li>
                     <a id="3" href="#">Reserva de Voo</a>
                  </li>
                  <li>
                     <a id="4" href="#">Seguros</a>
                  </li>
                  
                  <li>
                     <a id="5" href="#">Autenticação de Certificados</a>
                  </li>
               </ul>
               
            </div>
         </div>
      </div> 
   </div>
</body>
