<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Css do Bootstrap -->
    <link rel="stylesheet" href="/assets/dist/css/bootstrap.min.css">

    <!--link para O javaScript bootstrap da pagina-->
    <script src="/assets/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/css/wisep2.css">
    <title>Document</title>
</head>
<body>
    <main class="container" id="pr">
        <div class="card" id="card">
            <img src="/wisiLog1.jpg" id="img">

            <div class="col-12 lado my-2 mt-4">
                <div class="row" id="linha">
                    
                    <div class="col-12 mx-4 tituto-principal">
                        <h2>Resumo da transferência</h2>
                    </div>
                    
                    <p class="col-6 mx-4"><strong class="titulo">Valor pago por Joel Paria</strong>
                        <br> 9.470,39 USD
                    </p>


                    <p class="col-4"><strong class="titulo">Tarifa</strong>
                        <br> Wise 14,39 USD
                        <br>Pagamento 0,00 USD
                        <br>
                        <br>Total em tarifas (incluso) 14,39 USD
                    </p>

                    <p class="col-6 mx-4"><strong class="titulo">Valor da transferência</strong>
                        <br> 9.456,00 USD
                    </p>

                </div>
            </div>
        </div>
        
            <footer id="rodape" class="footer">
                <div>
                    <p>
                       <span id="cms"> A TransferWise</span>, com nome fantasia Wise, é uma Instituição Autorizada de Dinheiro Eletrônico, registrada com o número de <span id="num1">2</span>
                       <br> referência 900507 na Financial Conduct Authority (FCA) do Reino Unido. A TransferWise é registrada na Inglaterra e País de Gales
                       <br> com a Companies House sob número de empresa 7209813. Tel: +44 (0) 203 6950 999 https://www.wise.com
                    </p>
                </div>
            </footer>
    </main>

  <script src="/assets/dist/jquery/dist/jquery.min.js"></script>
</body>
</html>