#carouselExampleIndicators .carousel-item{ 
    height: 45%;
    position: relative;
}

#carouselExampleIndicators .carousel-item .legenda{
    position: absolute;
    top: 20%;

    /* color: #FFF; */
    /* background-color: rgba(0, 0, 0, 0.297); */
    
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    text-transform: capitalize;
}

/*Formatação do tamanho da fonte para os telefones!*/
/* @media(max-width: 720px){
    *{
        font-size: 18px;
    }
 } */
/*  */

#slidBanner{
    height: 50vh;
    margin: 25px auto;
    text-align: center;
    text-transform: capitalize;

    /* Alinhando todos os itens no centro da div */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Estilizando o fundo  */
    background-image: url('/img/fundos/aviao.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

#slidBanner #textoSlid{
    padding: 10px;
    color: white;
    text-transform: capitalize;
    text-shadow: 0px 0px 2px rgba(16, 16, 16, 0.58);
    background-color: rgba(0, 0, 0, 0.629);
}

#slidBanner #textoSlid p{
    padding-top: 12px;
}

#servicos{
    width: 100%;
    margin: 25px auto;
}

#servicos .card{
    border: none;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.585);
    width: 25rem; 
    margin: 6px;
    border-radius: 5%;
}

#servicos .card-img-top{
    margin: 15px auto;
    border-radius: 10%;
}

#servicos .card .card-body{
    border-bottom: solid 0.1px rgba(0, 0, 0, 0.286);
}

#servicos .card .showServico{
    border-left: solid 3px rgb(212, 160, 4);
    padding: 4px;
    margin: 4px 0;    
}

#ofertaH3,
#sub-ofertaH3,
#novidades{
    padding: 10px;
    margin: 0;
    text-align: center;
    border: solid 1px rgba(137, 43, 226, 0.739);
    background-color: rgba(126, 7, 238, 0.481);
    color: white;
}

/*Formatação única para os PCs*/
@media(max-width: 768px){
    #slidBanner{
        margin: 5px auto;
        height: 60vh;
        width: 100%;
        text-transform: uppercase;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    #servicos .card{
        font-size: small;
        width: 100%; 
        margin: 6px 0;
    }

    #ofertaH3{
        font-size: small;
    }



    #slidBanner #textoSlid{
        font-size: small;
    }
    
    #slidBanner #textoSlid p{
        width: 80%;
        margin: 0 auto;
    }
}