/* formatando div  */

#benvindo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    text-transform: uppercase;

    height: 345px;
    
    
    background-image: url("/img/fundos/fundoAmarelo.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 25px;
}

/* h1 e a sigla */
#benvindo #titulo{
    color: rgb(0, 162, 255);
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
    font-size: 3.5rem;
    text-align: center;

}

#benvindo #subtitulo{
    color: rgb(50, 49, 49);
    text-shadow: 0px 0px 5px white;
    font-size: 22px;
}

#benvindo #cta{
    background-color: blueviolet;
    border-color: blueviolet;
    margin-top: 50px;
}

#benvindo #cta:hover{
    color: blueviolet;
    background-color: rgb(255, 255, 255);
    border-color: blueviolet;
    transition: all .5s;
}

@media(min-width: 768px){
    #benvindo{
        height: 90vh;
        background-size: 100% 100%;
    }

    /* h1 e a sigla */
    #benvindo #titulo{
        font-size: 10rem;
        
    }
    
    #benvindo #subtitulo{
        font-size: 35px;
    }
}