/*Estilizando o Slid3*/
.img-fundo{
    margin-top: 30;
    height: 250px;
    background-image: url("/img/pngs/1.jpg");
    background-repeat: no-repeat;
    
}

li{
    list-style: none;
    font-weight: 600;
}
.menu li:hover{    
    background:rgb(181, 213, 240);
    border-radius: 10%;
}
.dizeres{
    margin: 0 auto;
    text-align: center;
    font-weight: 800;
    color: #16a;
    margin-right: 50px;     
}  
.services{
    margin-top: -10px;
    text-align: center;
    border-bottom: #16a solid .5px;
    border-radius: 50px;
    margin-left: -30px;
}

.services ul p{
    color: white;
    background-color:rgb(114, 182, 238);
    border-radius: 10px;
    margin: 10px;
}

.services .menu p{
    font-weight: 600;
    text-shadow: 1px 1px 1px #000;
}
.ultimaDica{
    color: #16a;
    margin-left: 50px; 
    text-shadow: 0px 0px 1px #464545;
    font-weight: 600;  
    font-size: 20px;
}

@media(min-width:770px){
   body{
        width: 940px;
        margin:0 auto;
    }
    .img-fundo{
        background-position:center;
        
    }
    .ultimaDica{
        text-align: center;
    }
    .services{
        margin-top: -20px;
    }

}




