#poupe{
    height: 350px;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: flex-end;
    background-image: url("/img/pngs/81107870-만화-로봇이-가리키고있다-.webp");
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: left;
}

#poupe .legenda{
    width: 60%;
    margin-top: 50px;
    text-transform: capitalize;
}

#poupe .legenda .btn-primary{
    background-color: chocolate;
    border-color: rgb(255, 107, 2);
    text-transform: uppercase;
    letter-spacing: 5px;
    
}

#poupe .legenda .btn-primary:hover{
    background-color: white;
    border-color: rgb(255, 107, 2);
    color: chocolate;

    transform: scale(1.1);
    transition: all .2s;
}



@media(min-width: 768px){
    #poupe{
        justify-content: flex-start;
        align-items: flex-end;
        background-size: contain;
        
        /* background-color: rgb(189, 80, 80); */

        width: 80%;

        margin: 50px auto;
    }

    #poupe .legenda{
        width: 480px;
        margin-top: 50px;
        text-transform: capitalize;
        text-align: center;
        text-indent: 25px;
        padding: 25px;
    }
}