#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;

}

@media(max-width: 720px) {
    #container{
        font-size: 14px;
    }

    .table{
        font-size: 9px;
    }
    #tcorpo th{
        color: rgb(55, 86, 1);
    }
}