.img-fundo{
   background-image: url('/img/fundos/consuloriaCard.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100% 100%;
   height: 800px;

   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 10px auto;
}

#vaAgencia{
    margin: 45px auto;
    font-size: 3.3rem;
    text-shadow: 0px 1px 0px #000000;
    color: blueviolet;
}

#p_fundo{
    font-size: 2rem;
    color: rgb(30, 148, 232);
    /* text-shadow: 0px 0px 1px #5b046c; */
    background-color: #ffe600d1;
    width: 100%;
    text-align: center;
    font-weight: 500;
    margin: 25px auto;
}

#p_cta{
    color: white;
    padding: 5px;
    font-size: 1.5rem;
    text-align: center;
    width: 90%;
    background-color: #0a0a0ac1;
    margin: 50px auto;
}

#btn_enviar{
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
    background-color: blueviolet;
    border-color: blueviolet;
}

#btn_enviar:hover{
    color: blueviolet;
    background-color: rgb(255, 255, 255);
    border-color: blueviolet;
    transition: all .5s;
}

@media(max-width: 768px){
    .img-fundo{
        /* background-position-x: right;*/
        background-position-y: top; 
        background-size: 100% 100%;
        /* background-size: contain; */
        height: 45vh;
        width: 100%;
        /* background-color: #1ced00; */
        
        align-items: center;
        justify-content: center;
        margin: 10px auto;
    }
    
    #p_cta{
        width: 90%;
        font-size: small;
        margin: 10px auto;
    

    }
    #p_botao{
        margin: auto;
        
    }
    #p_fundo{
    margin: 20px auto;
    font-size: .8rem;
    }

    #vaAgencia{
        font-size: 1.3rem;
        margin-top: 10px;
        margin-bottom: 0;
    }

    #btn_enviar{
        font-size: small;
    }
}